node.js_8_the_right_way/nodered/config/.flows.json.backup
[{"id":"ae9e318.f762cd","type":"tab","label":"Flow 1"},{"id":"b15331e0.7bda2","type":"tab","label":"Flow 2"},{"id":"d309e183.cc9b6","type":"inject","z":"ae9e318.f762cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":192,"y":148,"wires":[["745c1ae7.a46f94"]]},{"id":"745c1ae7.a46f94","type":"debug","z":"ae9e318.f762cd","name":"","active":true,"console":"false","complete":"true","x":364,"y":262,"wires":[]},{"id":"e51995d1.30cd08","type":"http in","z":"b15331e0.7bda2","name":"","url":"/search","method":"get","swaggerDoc":"","x":174,"y":156,"wires":[["5acbc0cf.756e9"]]},{"id":"6aa0dc76.643324","type":"http response","z":"b15331e0.7bda2","name":"","x":141,"y":619,"wires":[]},{"id":"5acbc0cf.756e9","type":"change","z":"b15331e0.7bda2","name":"prep query","rules":[{"t":"set","p":"payload.query","pt":"msg","to":" {\"match_phrase\":{}}","tot":"json"},{"t":"move","p":"payload.q","pt":"msg","to":"payload.query.match_phrase.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":162,"y":278,"wires":[["12e157a8.c2b338","585925ca.9e5a8c"]]},{"id":"12e157a8.c2b338","type":"http request","z":"b15331e0.7bda2","name":"get /books","method":"POST","ret":"obj","url":"http://localhost:9200/books/_search","tls":"","x":158,"y":402,"wires":[["b1ef92da.40156","585925ca.9e5a8c"]]},{"id":"b1ef92da.40156","type":"function","z":"b15331e0.7bda2","name":"extract titles","func":"msg.payload = msg.payload.hits.hits\n.map(hit => hit._source.title);\nreturn msg;","outputs":1,"noerr":0,"x":148,"y":515,"wires":[["6aa0dc76.643324"]]},{"id":"585925ca.9e5a8c","type":"debug","z":"b15331e0.7bda2","name":"","active":true,"console":"false","complete":"false","x":504,"y":401,"wires":[]},{"id":"217b8cde.f14024","type":"catch","z":"b15331e0.7bda2","name":"","scope":null,"x":820,"y":134,"wires":[["53bfd34c.ce996c"]]},{"id":"53bfd34c.ce996c","type":"http response","z":"b15331e0.7bda2","name":"","x":814,"y":247,"wires":[]}]